Data Analysis with Pandas

In [3]:
# Importing Numpy and Pandas
import numpy as np
import pandas as pd

Pandas Series

In [8]:
# Creating a series

notes = pd.Series([18.0,14.0,16.6,20])
notes

# We can name the Series
notes.name = "The notes of the motherfuckers in my class"
notes

# We can even go on and name the indexes of the default ones given by the pandas

notes.index = ([
    "Mohamed","Abdelkader","Bassma","ADONISSSSS"
])

# Or you can combine them in teh form of a dictionary
notes

Mohamed       18.0
Abdelkader    14.0
Bassma        16.6
ADONISSSSS    20.0
Name: The notes of the motherfuckers in my class, dtype: float64

Conditional Series

In [11]:
# It gives the boolean values of the items in the series
notes > 15

# It gives you only the members who passed the conditions
notes[notes > 15]

Mohamed       18.0
Bassma        16.6
ADONISSSSS    20.0
Name: The notes of the motherfuckers in my class, dtype: float64

Dealing with DataFrames

In [19]:
notes = pd.DataFrame({
    "Final Note":[19,18,15,18.5,9,4,3],
    "Age":[20,20,21,25,19,18,20],
    "Observations":["Funny","Chaotic","Does not pay attention","Funny","Has potential","Bad Student","SUIIIII"]
},
index = ["Mohamed","Bassma","Nassim","Luna","Atay","Najat","Ronaldo"])
notes

notes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Mohamed to Ronaldo
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Final Note    7 non-null      float64
 1   Age           7 non-null      int64
 2   Observations  7 non-null      object
dtypes: float64(1), int64(1), object(1)
memory usage: 224.0+ bytes

In [24]:
notes["Final Note"].to_frame()

# The loc gets you to choose the rows that you want
notes.loc["Mohamed"]

Final Note       19.0
Age                20
Observations    Funny
Name: Mohamed, dtype: object

In [26]:
# We can even add other columns from available columns

notes["Note per age"] = notes["Final Note"] / notes["Age"]
notes

         Final Note  Age            Observations  Note per age
Mohamed        19.0   20                   Funny      0.950000
Bassma         18.0   20                 Chaotic      0.900000
Nassim         15.0   21  Does not pay attention      0.714286
Luna           18.5   25                   Funny      0.740000
Atay            9.0   19           Has potential      0.473684
Najat           4.0   18             Bad Student      0.222222
Ronaldo         3.0   20                 SUIIIII      0.150000